//Colors
$white: #eee;
$black: #111;
$gray: #DFDCE3;
$green: #277552;
$blue: #2F4073;
$red: #AA5839;

//Other vars
$spacerHeight: 800px;
$largeSpacerHeight: 1600px;
$mediumSpacerHeight: 800px;
$smallSpacerHeight: 400px;
$tinySpacerHeight: 200px;



//$defaultFont: "timeburner";
$defaultFont: monospace;
$headerFont: "coalition";
$mainHeaderFont: "thunderstrike";

$mainTextColor: $gray;

$mobileBreakPoint: 1000px;







@font-face{
	src: url("../fonts/coalition.ttf");
	font-family: "coalition";
}


@font-face{
	src: url("../fonts/thunderstrikehalf.ttf");
	font-family: "thunderstrike"
}

.display-none{
	display: none;
}

.text-center{
	text-align: center;
}


.spacer{
	height: $spacerHeight;
}

.large-spacer{
	height: $largeSpacerHeight;
}


.medium-spacer{
	height: $mediumSpacerHeight;
}

.small-spacer{
	height: $smallSpacerHeight;
}

.tiny-spacer{
	height: $tinySpacerHeight;
}


.message{
	padding: 1em;
  	border-radius: 4px;
}


.success-message{
	background-color: rgba(50, 200, 50, .6);
  }

.failure-message{
	background-color: rgba(200, 50, 50, .6);
}


.btn{
  margin: 5px;
  $btnColor: darken($blue, 5%);
  $btnBGColor: lighten($green, 15%);
  background-color: $btnBGColor;
  color: $btnColor;
  padding: 5px 15px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  border: 2px outset darken($btnBGColor, 5%);

  @media (max-width: $mobileBreakPoint){
  	font-size: 2em;
  }

  &.hover{
  	background-color: darken($btnBGColor, 10%);
  	color: lighten($btnColor, 5%);
  	box-shadow: 0 0 10px $gray;
  }

  &.btn-white{
  	background-color: $white;
  	border: 1px solid darken($white, 10%);
  	color: $black;

  	&.hover{
	  	background-color: darken($white, 10%);
	  	color: lighten($black, 10%);
	  }
  }
}

a.btn{
  	text-decoration: unset;
	//color: unset;
}


@media (max-width: $mobileBreakPoint - 1){
	.hidden-mobile{
		display: none;
	}
}
@media (min-width: $mobileBreakPoint){
	.visible-mobile{
		display: none;
	}
}

html{
	height: 100%;
}

body{
	background-color: black;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	color: $mainTextColor;
	font-family: $defaultFont;
	height: 100%;
}

#loading_spinner_container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
}



.panel {
	background-color: black;
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	img{
		overflow: hidden;
		position: fixed;
		top: 0;
		//Narrow screens
		@media (max-aspect-ratio: 1/1){
			//height: 200%;
			width: 400%;
			left: -150%;
		}
		//Wide screens
		@media (min-aspect-ratio: 1/1){
			width: 200%;
			left: -50%;
			//The image will be centered with js (i know, I know)
		}
	}
}











.header-style{
	text-align: center;
	font-family: "coalition";
	font-size: 4vw;
	padding: .3em;
	padding-top: .5em;
	border-radius: 3px;
	color: $green;
	text-shadow: -1px 1px 2px darken($green, 30%);
	background-color: $blue;
	box-shadow: inset -30px -20px 170px -20px $black;
}







#main-header{
	position: fixed;
	top: 10px;
	color: $white;
	font-family: $mainHeaderFont;
	text-align: center;
	font-size: 9em;
	text-shadow: -5px 5px 5px $black;
}


#scroll-for-more{
  position: fixed;
  bottom: 5vh;
  width: 100%;

  span{
	  background-color: rgba($black,.8);
	  padding: .5em;
	  border-radius: 5px;
	  font-size: 5vh;
	  @media (max-width: $mobileBreakPoint){
	  	font-size: 5vh;
	  }
  }
} 



$animateBoxWidth: 70%;
$animateBoxWidthMobile: 90%;
@media (max-width: $mobileBreakPoint){
	$animateBoxWidth: 60%;
}
$animatBoxBoxShadowPx: 0 0 20px -2px;
//$animateBoxInsetBoxShadow: inset 12px 12px 200px -40px $gray;
.base-box{
	//color: rgb(0,239,0);
	width: $animateBoxWidth;
	left: (50 - $animateBoxWidth / 2);
	text-align: left;
	background-color: rgba($black,.9);
	padding: 25px;
	border-radius: 5px;
	box-shadow: $animatBoxBoxShadowPx $gray;
	font-size: 1.8vw;
	@media (max-width: $mobileBreakPoint){
		width: $animateBoxWidthMobile;
		left: (50 - $animateBoxWidthMobile / 2);
		font-size: 3vw;
	}

	&.smaller-font{
		font-size: 20px;
		@media screen and (max-width: $mobileBreakPoint){
			font-size: 30px;
		}
	}

	h1, h2{
		margin-top: 0;
		@extend .header-style;
	}

	a{
	  //$linkColor: rgb(28,133,248);
	  //color: $linkColor;

	  &:hover{
	  	//color: darken($linkColor, 10%);
	  }
	}
}




.animate-container{
	width: 100%;
	text-align: center;
	top: 0;
	left: 0;
	min-height: 100vH;

	.animate-box{
		@extend .base-box;
		z-index: 3;
		position: fixed;
		visibility: hidden;
		max-height: 80%;

		.resume-btn-container{
			display: block;
			@media (min-width: $mobileBreakPoint){
		  		display: flex;
		  		align-items: center;
		  		justify-content: center;
		  	}
		  position: relative;
		  margin: auto;
		  text-align: center;
		  height: 10em;
		  width: 100%;
		  left: 0;

		  button{
			position: absolute;
			top: 0;
			left: 0;
			//width: 30vw;
			width: 100%;
			@media (max-width: $mobileBreakPoint){
				//left: 0;
				//width: 100%;
			}
			height: 30%;
			&:nth-of-type(2){
				top: 50%;
			}
		  }
		}


		.lettering span{
			visibility: hidden;
		}

		.word{
			display: inline-block;
		}

		//Animation stuff
		&.prepping-rocket{
			box-shadow: $animatBoxBoxShadowPx red;
		}

		&.launching-rocket{
			box-shadow: $animatBoxBoxShadowPx red, -80px 20px 100px 0px  red;	
		}
	}


}



.modal{
	width: 100%;
	background-color: black;
	overflow: hidden;
	.modal-dialog{
		@media (min-width: $mobileBreakPoint){
			width: 60%;
		}
		@media (max-width: $mobileBreakPoint){
			width: 100%;
		}
		margin: auto;
	}
	.modal-content{
		@extend .base-box;
	}
	.modal-footer{
		button{
			color: black;
		}
	}
}

.modal-background-box{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 4;
  display: none;
}








#site-examples{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	text-align: center;

	#site-example-header{
		position: relative;
		width: 50%;
		margin: auto;
		margin-bottom: 2vh;
		@extend .header-style;
	}


	.site-example{
		display: none;
		position: relative;
		width: 10vmax;
		height: 10vmax;
		margin: 1%;
		box-shadow: 0 0 6px 2px white;
	  	border-radius: 2px;

	  	img{
	  		width: 100%;
	  	}
	}

	//Narrow screens
	@media (max-aspect-ratio: 1/1){
		.example-row{
			width: 100%;
			height: 24vh;
			.example-container{
				width: 50%;
				float: left;
				margin-top: 5vh;
				text-align: center;
				.site-example{
					display: block;
					width: 25vw;
					height: 25vw;
					margin: auto;
				}
			}
		}
	}
	

	//Wide screens
	@media (min-aspect-ratio: 1/1 ){
		.example-row{
		  float: left;
		  width: 33%;
		  margin: auto;

		  .example-container{
			  display: block;
			  width: 100%;
			  height: 24vh;
			  margin: auto;
			  margin-top: 3vh;
			  .site-example{
			  	width: 25vh;
			  	height: 25vh;
			  	margin: auto;
			  }
			}	
		}
  	}
}









#footer{
  position: fixed;
  bottom: 0;
  background-color: rgba($black, .8);
  width: 100%;
  height: 5em;
  color: $white;
  align-items: center;
  justify-content: center;
  display: none;
  //display: flex; This will be set by the animation
}







//Forms
.form-group{
  margin-top: .5em;
  margin-bottom: .5em;
  width: 100%;
  display: flex;
    > input, > textarea, > #card-element, > #mobile-card-element{
	  background-color: rgba(250,250,250,.3);
	  border: 0;
	  border-bottom: 1px solid #ddd;
	  padding: 4px;
	  color: $mainTextColor;
	  flex-grow: 1;
	}
	.pre-input{
		padding: 4px;
		padding-left: .5em;
		padding-right: .5em;
		background-color: #ddd;
		color: #111;
	}
}

.response{
  margin-top: 1em;
  text-align: center;
  img{
  	width: 3em;
  }
}

















//Navbar
#navbar.navbar-default .navbar-brand {
    color: rgba(214, 214, 214, 1);
}
#navbar.navbar-default {
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom-width: 0px;
}
#navbar.navbar-default .navbar-nav>li>a {
    color: rgba(214, 214, 214, 1);
    background-color: rgba(248, 248, 248, 0);
    cursor: default;
}
#navbar.navbar-default .navbar-nav>li>a:hover,
#navbar.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    //background-color: rgba(248, 248, 248, 0);
    background-color: rgba($green, .7);
}
#navbar.navbar-default .navbar-nav>.active>a,
#navbar.navbar-default .navbar-nav>.active>a:hover,
#navbar.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(194, 190, 190, 1);
    background-color: rgba(145, 145, 145, 1);
}
#navbar.navbar-default .navbar-toggle {
    border-color: #919191;
}
#navbar.navbar-default .navbar-toggle:hover,
#navbar.navbar-default .navbar-toggle:focus {
    background-color: #919191;
}
#navbar.navbar-default .navbar-toggle .icon-bar {
    background-color: #919191;
}
#navbar.navbar-default .navbar-toggle:hover .icon-bar,
#navbar.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #000000;
}


ul.dropdown-menu{
  background-color: rgba(0,0,0,.7);
  margin-top: -1px !important;
  border: 0;
}

ul.dropdown-menu li a {
  color: #d6d6d6;
}

ul.dropdown-menu li a:hover {
  color: $white;
  //background-color: rgba(100,100,100,.7);
  background-color: rgba($green, .7);
}

.navbar-brand{
  padding-left: 30px;
}


//mobile navbar
#mobile-navbar{
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: rgba(0,0,0,.8);
  width: 100%;

  div{
    float: left;
    width: 33%;
    text-align: center;

    a{
      //font-size: 2em;
      display: block;
      width: 100%;
      padding: 15px 0px 15px 0px;
      font-size: 3vmax;
      color: $white;
      &:hover{
	      background-color: rgba($green, .7);
	    }
    }
  }

}



















