#navbar.navbar-default .navbar-brand {
    color: rgba(214, 214, 214, 1);
}
#navbar.navbar-default {
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom-width: 0px;
}
#navbar.navbar-default .navbar-nav>li>a {
    color: rgba(214, 214, 214, 1);
    background-color: rgba(248, 248, 248, 0);
}
#navbar.navbar-default .navbar-nav>li>a:hover,
#navbar.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    background-color: rgba(248, 248, 248, 0);
}
#navbar.navbar-default .navbar-nav>.active>a,
#navbar.navbar-default .navbar-nav>.active>a:hover,
#navbar.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(194, 190, 190, 1);
    background-color: rgba(145, 145, 145, 1);
}
#navbar.navbar-default .navbar-toggle {
    border-color: #919191;
}
#navbar.navbar-default .navbar-toggle:hover,
#navbar.navbar-default .navbar-toggle:focus {
    background-color: #919191;
}
#navbar.navbar-default .navbar-toggle .icon-bar {
    background-color: #919191;
}
#navbar.navbar-default .navbar-toggle:hover .icon-bar,
#navbar.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #000000;
}


ul.dropdown-menu{
  background-color: rgba(0,0,0,.7);
  margin-top: -1px !important;
  border: 0;
}

ul.dropdown-menu li a {
  color: #d6d6d6;
}

ul.dropdown-menu li a:hover {
  color: #fff;
  background-color: rgba(100,100,100,.7);
}

.navbar-brand{
  padding-left: 30px;
}


//mobile navbar
#mobile-navbar{
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: rgba(0,0,0,.8);
  width: 100%;

  div{
    float: left;
    width: 33%;
    padding: 15px 30px 15px 30px;

    &:nth-child(2){
      text-align: center;
    }

    &:nth-child(3){
      text-align: right;
    }

    a{
      //font-size: 2em;
      font-size: 3vmax;
    }
  }

}








